// App Colors
$primaryColor: #55c57a;
$primaryLight: #7cff65;
$primaryDark: #28b485;
$secondaryColor: #ffb900;
$secondaryLight: #ffd45e;
$secondaryDark: #daa000;
$tertiaryColor: #2998ff;
$tertiaryLight: #29d8ff;
$tertiaryDark: #3142ff;
$lightGrey-1: #f7f7f7;
$darkGrey: #777777;
$darkGrey-2: #303030;
$black: #000000;
$white: #ffffff;

// Font
$defaultFont: 1.6rem;

// Gutter Sizing
$horizontalGutter: 6rem;
$verticalGutter: 8rem;
$grid-width: 114rem;