// App Colors
$primaryColor: #55c57a;
$primaryLight: #7cff65;
$primaryDark: #28b485;
$lightGrey-1: #f7f7f7;
$darkGrey: #777777;
$black: #000000;

// Font
$defaultFont: 1.6rem;

// Gutter Sizing
$horizontalGutter: 6rem;
$verticalGutter: 8rem;
$grid-width: 114rem;